.custom-navbar {
   z-index: 10;
   padding: 0.5rem !important;
   min-height: var(--nav-height);
   background-color: white;
}

.custom-container-fluid {
   row-gap: 13px;
   column-gap: 25px;
}

.custom-navbar-brand {
   transition: 0.3s color;
   margin: 0 !important;
   font-weight: 500;
   color: #0d6efd !important;
   font-size: 1.5rem !important;
}

.custom-nav-link {
   position: relative !important;
   color: #666777 !important;
   font-weight: 500 !important;
}

.custom-toggler {
   border: none !important;
   font-size: 1.25rem !important;
}

.custom-toggler:focus,
.custom-btn-close:focus {
   box-shadow: none !important;
   outline: none !important;
}

.custom-nav-link:hover,
.custom-navbar-brand:hover,
.custom-nav-link.active {
   color: black !important;
}

@media (min-width: 991px) {
   .custom-nav-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      visibility: hidden;
      transform: translateX(-50%);
      transition: 0.3s ease-in-out;
      width: 0;
      height: 2px;
      background-color: #4DB6AC;
   }

   .custom-nav-link:hover::before,
   .custom-nav-link.active::before {
      visibility: visible;
      width: 100%;
   }
}