:root {
   --nav-height: 80px;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   width: 100%;
   background: url('./assets/background.jpg') no-repeat center;
   background-size: cover;
}

main {
   width: 100%;
   min-height: calc(100vh - var(--nav-height));
   padding-top: var(--nav-height);
   padding-left: 20px;
   padding-right: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.lds-ring {
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
   margin: 1rem 0;
}

.lds-ring div {
   box-sizing: border-box;
   display: block;
   position: absolute;
   width: 64px;
   height: 64px;
   margin: 8px;
   border: 8px solid whitesmoke;
   border-radius: 50%;
   animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
   border-color: whitesmoke transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
   animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
   animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
   animation-delay: -0.15s;
}

@keyframes lds-ring {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

.page-content {
   color: white;
   text-align: center;
}

.page-content h1 {
   font-size: 3.25rem;
}

.page-content h2 {
   font-size: 1.75rem;
}

form.auth {
   width: 20%;
   min-width: 350px;
   margin-top: 30px;
   padding: 50px;
   border-radius: 20px;
   background-color: white;
}

h4.auth {
   font-size: 2rem;
   font-weight: 700;
}

.btn-primary.auth {
   width: 100%;
   border: none;
   border-radius: 50px;
}

.form-control.auth {
   color: rgba(0, 0, 0, 0.87);
   border-bottom-color: rgba(0, 0, 0, 0.42);
   box-shadow: none !important;
   border: none;
   border-bottom: 1px solid;
   border-radius: 4px 4px 0 0;
}

.form-label.auth {
   font-weight: 500 !important;
}

.table-container {
   margin-top: 60px;
   max-width: 1600px;
   width: 100%;
}

.table-name {
   color: white;
   font-size: 2.25rem;
   text-align: center;
}

.table td {
   vertical-align: middle;
}

.filter-input,
.filter-select {
   width: 150px;
   max-width: 150px;
   min-width: 100px;
   border-width: 1.5px;
   margin-right: 3px;
   margin-top: 3px;
}

.add-button {
   margin-bottom: 10px;
}

.action-button {
   width: 70px;
}

.pagination-container {
   margin-top: 15px;
   width: 100%;
   min-height: 40px;
   display: flex;
   justify-content: space-around;
   gap: 20px;
   align-items: center;
   flex-wrap: wrap;
}

.pagination-navigation {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
}

.page-selector {
   max-width: 100px !important;
}

.page-volume-select {
   max-width: 250px !important;
}

.statistic-title {
   color: white;
   font-size: 2.25rem;
   text-align: center;
   margin: 60px 0 56px 0;
}

.chart-container {
   max-width: 1700px;
   width: 100%;
   display: grid;
   gap: 20px;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
}

.chart {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.big-chart {
   grid-column: 1 / span 2;
}

.chart-header {
   min-height: 70px;
   width: 100%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   background-color: whitesmoke;
}

.chart-header select {
   max-width: 200px;
}

.chart-body {
   height: 500px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
}

@media (max-width: 1200px) {
   .chart-container {
      grid-template-columns: 1fr;
   }

   .big-chart {
      grid-column: 1;
   }
}

@media (max-width: 850px) {

   .table th,
   td {
      padding: 3px !important;
   }

   .chart-body {
      height: 400px;
   }
}

@media (max-width: 500px) {
   form.auth {
      width: 100%;
      min-width: 0;
      padding: 30px;
   }

   .chart-header {
      padding: 10px;
   }

   .chart-body {
      height: 300px;
   }
}

@media (max-width: 470px) {
   .action-button {
      width: 50px;
      padding: 3px !important;
      font-size: 0.7rem !important;
   }

   .add-button {
      width: 90px;
      margin-top: 10px;
      padding: 5px !important;
      font-size: 0.7rem !important;
   }

   .chart-body {
      height: 250px;
   }
}

@media (max-width: 435px) {
   main {
      padding-top: calc(var(--nav-height) + 50px);
   }

   .table {
      font-size: 0.7rem !important;
   }

   .table th,
   td {
      text-align: center;
   }

   .action-button {
      width: 45px !important;
   }
}