.image-selector {
   margin: 20px 0;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 15px;
}

.image-option {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-fit: cover;
   cursor: pointer; 
   transition: border-color 0.3s ease; 
   border: 3px solid transparent;
 }
 
 .image-option:hover:not(.selected) {
   border-color: lightblue; 
 }
 
 .image-option.selected {
   border-color: lightgreen;
 }

 @media (max-width: 1150px) {
   .image-option {
      width: 80px;
      height: 80px;
   }
}

@media (max-width: 1150px) {
   .image-option {
      width: 80px;
      height: 80px;
   }
}

@media (max-width: 950px) {
   .image-option {
      width: 60px;
      height: 60px;
   }
}